<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>L.Barker - Full Stack Developer | MarTech Strategist | {Non} Unicorn</title>
    <!-- META Tags -->
		<meta name="title" content="Lauren Barker - Online Portfolio" />
		<meta name="description" content="Lauren is a hybrid developer — a MarTech strategist, Full Stack Developer, and Front End Developer — with nearly 12 years of experience delivering solutions across all digital media channels." />
		<meta name="robots" content="index,follow" />
		<meta name="author" content="Lauren Barker" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="copyright" content="Copyright 2007-2019 Lauren Barker" />
		<meta name="image" property="og:image" content="https://lbarker.github.com/assets/images/lauren-barker.png">
  <!-- FACEBOOK OPEN GRAPH -->
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://lbarker.github.com/"/>
		<meta property="og:title" content="Lauren Barker"/>
		<meta property="og:image" content="https://lbarker.github.com/assets/images/lauren-barker.png"/>
		<meta property="og:description" content="Lauren is a hybrid developer — a MarTech strategist, Full Stack Developer, and Front End Developer — with nearly 12 years of experience delivering solutions across all digital media channels."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <script src="/assets/js/modernizr.min.js"></script>

    <!--        .------..

         _.._..,_,_
        (          )
         ]~,"-.-~~[
       .=])' (;  ([
       | ]:: '    [
       '=]): .)  ([
         |:: '    |
          ~~----~~
				Looking at my code huh? Well lets grab a beer a talk shop than ;P
		-->
</head>

<body id="page-top" data-spy="scroll">
<!-- Preloader -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- //End Page Loader -->

