
{% include head.html %}

<main>
	<div class="cd-about cd-main-content" >
		<a class="cd-btn-trigger" href="/cpmagazine" data-type="page-transition">   Next 
			<span class="cd-btn-icon"></span>

			<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
				<circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
			</svg>
		</a>
        <span class="cd-btn-trigger-next">next project | Cal Poly Magazine</span>               

		<div class="portfolio-page">
                                    
                <section class="section section-bgimage-yes">
                    <div class="section-inner">

                        <div class="container section-content">
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="section-title text-center">

                                                <h3 class="sub-title"><strong>Cal Poly</strong><br/>Campus Dining</h3>
                                                <a href="http://calpolydining.com" class="btn btn-lb">View Live Project</a>
                                                <div class="clearfix"></div>
                                                <span class="section-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                                <p>
                                                    <strong>Client:</strong></br>
                                                    Cal Poly Corporation | Campus Dining
                                                </p>
                                                <p>
                                                    <strong>Challenge</strong></br>Rebuild and modernize a large website built with with ASP. 
                                                </p>
                                       
                                                <p>
                                                    <strong>Role</strong></br>Lead developer
                                                </p>
                                                <p>
                                                    <strong>Teammates</strong></br>
                                                    <a href="http://michaelboezi.com/">Ellen Curtis</a> - Director<br/><a href="http://www.newmediadimensions.com/">Kara Clark</a> - lead designer
                                                </p>
                                                <p>
                                                    <strong>FE technologies used
                                                    </strong></br>Bourbon, Neat, and Bitters.
                                                </p>
                                       
                                                 <p>
                                                    <strong>BE technologies used
                                                    </strong></br>Node, Jekyll, Grunt, Google Places API
                                                </p>
                                       
                                                <p>
                                                    <strong>Launched</strong><br/>August 2016
                                                </p>

                                        
                                                 <p>
                                                    <strong>Results
                                                    </strong></br>Fresh user experience with a focus on content.
                                                </p>
                                                
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="/assets/images/portfolio/calpolydining.png" class="img-thumbnail">
                                        </div>
                                    </div>

                                   


                                </div>
                                <!-- //.section-content -->
                            </div>
                            <!-- //.bcg -->
                        </div>
                        <!-- //.parallax -->
                    </div>
                    <!-- //.section-inner -->
                </section>
                
		</div>
	</div>
</main>       
{% include footer.html %}


</body>

</html>