

{% include head.html %}

<main>
	<div class="cd-about cd-main-content" >
    	<a class="cd-btn-trigger" href="/#timeline/">   Next 
            <span class="cd-btn-icon"></span>

            <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
                <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
            </svg>
        </a>
        <span class="cd-btn-trigger-next">next | A little about myself</span>        
		<div class="portfolio-page">
                                    
                <section class="section section-bgimage-yes">
                    <div class="section-inner">

                        <div class="container section-content">
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="section-title text-center">

                                                <h3 class="sub-title"><strong>A Simple WordPress Blog</strong><br/>For Pat McKeague</h3>
                                                <a href="http://mckeague.com/" class="btn btn-lb">View Live Project</a>
                                                <div class="clearfix"></div>
                                                <span class="section-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                          
                                            <p>
                                                <strong>Client:</strong></br>  <a href="https://www.linkedin.com/in/patmckeague">Pat McKeague</a> - Owner of XYZ Textbooks and MathTV.com
                                            </p>
                                            <p>
                                                <strong>Launched:</strong></br> September 2014
                                            </p>
                                            <p>
                                                <strong>Challenge:</strong></br> Combined static website, presentation material, and blog posts into one website.
                                            </p>
                                            <p>
                                                <strong>Role:</strong></br> Web Developer
                                            </p>

                                            <p>
                                                <strong>Web technologies used:</strong></br> <a href="https://wordpress.org/">Wordpress</a>, <a href="http://theme.co/x/">Theme X</a>
                                            </p>
                                            <p>
                                                <strong>Results:</strong></br> Personal blog for award winning textbook author Pat McKeague that helps drive click through traffic to the XYZ Textbooks website.
                                            </p>
                                               
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="/assets/images/portfolio/mckeague.png" class="img-thumbnail">
                                        </div>
                                    </div>

                                   


                                </div>
                                <!-- //.section-content -->
                            </div>
                            <!-- //.bcg -->
                        </div>
                        <!-- //.parallax -->
                    </div>
                    <!-- //.section-inner -->
                </section>
                
		</div>
	</div>
</main>     

{% include footer.html %}
</body>

</html>