
{% include head.html %}

<main>
	<div class="cd-about cd-main-content" >
		
		<div class="portfolio-page">
            <a class="cd-btn-trigger" href="/dearmustang/" data-type="page-transition">   Next 
                <span class="cd-btn-icon"></span>

                <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
                    <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                </svg>
            </a>  
            <span class="cd-btn-trigger-next">next project | Dear Mustang</span>               
            <section class="section section-bgimage-yes">
                <div class="section-inner">

                    <div class="container section-content">
                       
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="section-title text-center">

                                            <h3 class="sub-title"><strong>XYZ eBooks</strong><br/>A responsive eBook platform</h3>
                                            <a href="http://xyztextbooks.com/applied_calculus" class="btn btn-lb">View Live Project</a>
                                            <div class="clearfix"></div>
                                            <span class="section-line"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                                    <p>
                                                        <strong>Client:</strong></br>
                                                         XYZ Textbooks
                                                    </p>
                                                    <p>
                                                        <strong>Challenge</strong></br>Rebuild the MathTV Online Book
                                                    </p>
                                            
                                                    <p>
                                                        <strong>Role</strong></br>Lead front-end developer
                                                    </p>
                                                    <p>
                                                        <strong>Teammates</strong></br>
                                                        <a href="http://www.newmediadimensions.com/">Steve Aiena</a> - lead back-end engineer
                                                    </p>
                                                    <p>
                                                        <strong>FE technologies used
                                                        </strong></br>Box View, viewer.js, Bootstrap 3, LESS, Grunt, jQuery, Ajax,
                                                    </p>
                                            
                                                     <p>
                                                        <strong>BE technologies used
                                                        </strong></br>Customized Symfony PHP framework, MySQL
                                                    </p>
                                            
                                                    <p>
                                                        <strong>Launched</strong><br/>v1.0 July 2014, v2.0 August 2015
                                                    </p>

                                           
                                                     <p>
                                                        <strong>Results
                                                        </strong></br>Best eBook experience available for a math textbook in 2015.
                                                    </p>
                                                    
                                    
                                    </div>
                                    <div class="col-sm-6">
                                        <img src="/assets/images/portfolio/xyzebooks.png" class="img-thumbnail">
                                    </div>
                                </div>

                               


                            </div>
                            <!-- //.section-content -->
                        </div>
                        <!-- //.bcg -->
                    </div>
                    <!-- //.parallax -->
                </div>
                <!-- //.section-inner -->
            </section>
                
		</div>
	</div>
</main>      

{% include footer.html %}
</body>

</html>