
{% include head.html %}

<main>
	<div class="cd-about cd-main-content" >
		<a class="cd-btn-trigger" href="/xyzebooks/" data-type="page-transition">   Next 
			<span class="cd-btn-icon"></span>

			<svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
				<circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
			</svg>
		</a>
        <span class="cd-btn-trigger-next">next project | XYZ eBooks</span>               

		<div class="portfolio-page">
                                    
                <section class="section section-bgimage-yes">
                    <div class="section-inner">

                        <div class="container section-content">
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="section-title text-center">

                                                <h3 class="sub-title"><strong>XYZ Textbooks Webstie</strong><br/>Project Cleveland</h3>
                                                <a href="http://xyztextbooks.com" class="btn btn-lb">View Live Project</a>
                                                <div class="clearfix"></div>
                                                <span class="section-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                                <p>
                                                    <strong>Client:</strong></br>
                                                    XYZ Textbooks
                                                </p>
                                                <p>
                                                    <strong>Challenge</strong></br>Cleave the Student and Instructor pre-customer experience while shifting from a sales capacity to a toolbox capacity for current customers.
                                                </p>
                                       
                                                <p>
                                                    <strong>Role</strong></br>Lead front-end developer
                                                </p>
                                                <p>
                                                    <strong>Teammates</strong></br>
                                                    <a href="http://michaelboezi.com/">Michael Boezi</a> - project manager<br/><a href="http://www.newmediadimensions.com/">Steve Aiena</a> - lead back-end engineer
                                                </p>
                                                <p>
                                                    <strong>Technologies used
                                                    </strong></br>Bootstrap 3, LESS, Grunt, jQuery, Customized Symfony PHP framework, MySQL, Authorize.net
                                                </p>
                                       
                                                <p>
                                                    <strong>Launched</strong><br/>August 2015
                                                </p>

                                        
                                                 <p>
                                                    <strong>Results
                                                    </strong></br>Improved user experience for Students and Instructors, quick eBook access, increased user registrations, increase onsite sales, and reduced bounce rate by 20%.
                                                </p>
                                                
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="/assets/images/portfolio/xyztextbooks.png" class="img-thumbnail">
                                        </div>
                                    </div>

                                   


                                </div>
                                <!-- //.section-content -->
                            </div>
                            <!-- //.bcg -->
                        </div>
                        <!-- //.parallax -->
                    </div>
                    <!-- //.section-inner -->
                </section>
                
		</div>
	</div>
</main> 
    

{% include footer.html %}
</body>

</html>